<div class="grid grid-cols-2 gap-6 p-6">
    <div *ngFor="let skill of skills" class="flex flex-row items-start p-4 text-purple-500 h-full w-full bg-purple-900 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-0 border border-purple-500 mb-4">
        <div class="flex flex-col w-full">
            <div class="text-center">
                <h2 class="text-3xl font-bold">{{ skill.name }}</h2>
                <p class="text-sm">{{ skill.description }}</p>
                <br>
                <p class="text-xl">Damage: d10</p>
            </div>
        </div>
    </div>    
</div>
<div class="grid grid-cols-2 gap-6 p-6 h-20">

</div>