.vc-button {
    position: relative;
    z-index: 1000;
  }
  
  .vc-modal {
    z-index: 999;
  }
  
  .vc-history {
    max-height: 66vh; /* Set maximum height for vc history */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Custom scrollbar styles */
  .vc-history::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .vc-history::-webkit-scrollbar-track {
    @apply bg-stone-950/* Background of the scrollbar track */
  }
  
  .vc-history::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-indigo-400 via-indigo-500 to-indigo-600/* Color of the scrollbar thumb */
  }
  
  .vc-history::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  
  .message {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  