<div class="home-screen">
  <nav class="bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <ul class="flex space-x-4">
        <li><a class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer" (click)="navigateView('home')">Home</a></li>
      </ul>
      <ul class="flex space-x-4">
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('board')" [ngClass]="{'underline font-bold': currentView === 'board'}">Board</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('family')"[ngClass]="{'underline font-bold': currentView === 'family'}">Family</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('friends')"[ngClass]="{'underline font-bold': currentView === 'friends'}">Friends</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('inventory')"[ngClass]="{'underline font-bold': currentView === 'inventory'}">Inventory</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('skills')"[ngClass]="{'underline font-bold': currentView === 'skills'}">Skills</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('notes')"[ngClass]="{'underline font-bold': currentView === 'notes'}">Notes</a></li>
      </ul>
      <ul class="flex space-x-4">
        <li><a class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer" (click)="navigateTo('login')">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center text-purple-500" *ngIf="currentView === 'home'">Welcome to the Home Page!</h1>
    <app-board *ngIf="currentView === 'board'" [characterName]= "characterName" (resultRolled)="handleDiceResult($event)"></app-board>
    <app-family *ngIf="currentView === 'family'"></app-family>
    <app-friends *ngIf="currentView === 'friends'"></app-friends>
    <app-inventory *ngIf="currentView === 'inventory'" (resultRolled)="handleDiceResult($event)"></app-inventory>
    <app-skills *ngIf="currentView === 'skills'" (resultRolled)="handleDiceResult($event)"></app-skills>
    <app-notes *ngIf="currentView === 'notes'"></app-notes>
  </div>

  <app-chat-button [newMessage]="diceResult" [username]="username || 'DefaultUser'"></app-chat-button>
  <app-roll-button (resultRolled)="handleDiceResult($event)"></app-roll-button>
  <app-vc-button [username]="username || 'DefaultUser'"></app-vc-button>
  <app-soundbar></app-soundbar>
</div>