<div class="home-screen">
  <nav class="bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <ul class="hidden md:flex space-x-4">
        <li>
          <a class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer flex items-center" (click)="navigateView('home')">
            <i class="fa fa-home mr-2"></i>
          </a>
        </li>
      </ul>
      <ul class="hidden md:flex space-x-4">
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('board')" [ngClass]="{'underline font-bold': currentView === 'board'}">Board</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('family')"[ngClass]="{'underline font-bold': currentView === 'family'}">Family</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('friends')"[ngClass]="{'underline font-bold': currentView === 'friends'}">Friends</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('inventory')"[ngClass]="{'underline font-bold': currentView === 'inventory'}">Inventory</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('skills')"[ngClass]="{'underline font-bold': currentView === 'skills'}">Skills</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('notes')"[ngClass]="{'underline font-bold': currentView === 'notes'}">Notes</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('score')" [ngClass]="{'underline font-bold': currentView === 'score'}">Score</a></li>
        <li *ngIf="role === 'Dungeon Master'"><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('dm-screen')"[ngClass]="{'underline font-bold': currentView === 'dm-screen'}">Dm Screen</a></li>
      </ul>
      <ul class="hidden md:flex space-x-4">
        <li>
          <a class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer flex items-center" (click)="navigateTo('login')">
            <i class="fa fa-sign-out-alt mr-2"></i>
          </a>
        </li>
      </ul>
      <div class="md:hidden">
        <button class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer flex items-center" (click)="showMobileMenu = !showMobileMenu">
          <i class="fa fa-bars mr-2"></i>
        </button>
      </div>
    </div>
    <div *ngIf="showMobileMenu" class="md:hidden">
      <ul class="flex flex-col space-y-4 mt-4">
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('home')">Home</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('board')">Board</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('family')">Family</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('friends')">Friends</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('inventory')">Inventory</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('skills')">Skills</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('notes')">Notes</a></li>
        <li><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('score')">Score</a></li>
        <li *ngIf="role === 'Dungeon Master'"><a class="text-black hover:text-gray-300 cursor-pointer" (click)="navigateView('dm-screen')">DM Screen</a></li>
        <li><a class="text-black font-bold text-xl hover:text-gray-300 cursor-pointer flex items-center" (click)="navigateTo('login')">
          <i class="fa fa-sign-out-alt mr-2"></i> Logout
        </a></li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center text-purple-500" *ngIf="currentView === 'home' && !battleActive">Welcome to the Home Page!</h1>
    <app-battle-area *ngIf="currentView === 'home' && battleActive" 
      [activeBattleUsers]="activeBattleUsers" 
      [showInitiativePrompt]="showInitiativePrompt" 
      [username]="username" 
      [characterName]="characterName"
      [currentTurnIndex]="currentTurnIndex"
      [role]="role"> <!-- Pass role -->
    </app-battle-area>
    <app-board *ngIf="currentView === 'board'" [characterName]= "characterName" (resultRolled)="handleDiceResult($event)"></app-board>
    <app-family *ngIf="currentView === 'family'" [characterName]= "characterName"></app-family>
    <app-friends *ngIf="currentView === 'friends'" [characterName]= "characterName"></app-friends>
    <app-inventory *ngIf="currentView === 'inventory'" (resultRolled)="handleDiceResult($event)" [characterName]= "characterName"></app-inventory>
    <app-skills *ngIf="currentView === 'skills'" (resultRolled)="handleDiceResult($event)" [characterName]= "characterName"></app-skills>
    <app-notes *ngIf="currentView === 'notes'" [characterName]="characterName"></app-notes> <!-- Pass characterName as username -->
    <app-score *ngIf="currentView === 'score'" [characterName]="characterName || ''" [role]="role || ''"></app-score> <!-- Ensure characterName and role are strings -->
    <app-dmscreen *ngIf="currentView === 'dm-screen'"></app-dmscreen>
  </div>

  <app-chat-button *ngIf="isHomeView() || !isMobile()" [newMessage]="diceResult" [username]="username || 'DefaultUser'"></app-chat-button>
  <app-roll-button *ngIf="isHomeView() || !isMobile()" (resultRolled)="handleDiceResult($event)"></app-roll-button>
  <app-vc-button *ngIf="isHomeView() || !isMobile()" [username]="username || 'DefaultUser'"></app-vc-button>
  <app-soundbar class="hidden md:block"></app-soundbar> <!-- Hide soundbar on mobile devices -->

  <!-- Battle prompt modal -->
  <div *ngIf="showBattlePrompt" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold mb-4">A battle has started. Would you like to join?</p>
      <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="joinBattle()">Yes</button>
      <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="declineBattle()">No</button>
    </div>
  </div>
</div>
<div *ngIf="role === 'Dungeon Master'" class="fixed bottom-44 left-4 mb-2">
  <button class="vc-button p-3 bg-purple-500 text-black rounded-full shadow-lg hover:bg-purple-600 transition duration-200" (click)="toggleBattle()">
    <i class="fa fa-lg" [ngClass]="{'fa-regular fa-flag': battleActive, 'fa-solid fa-fist-raised': !battleActive}" aria-hidden="true"></i>
  </button>
</div>
<div *ngIf="role === 'Dungeon Master' && battleActive" class="fixed top-4 left-4 mt-16">
  <button class="vc-button p-3 bg-purple-500 text-black rounded-full shadow-lg hover:bg-purple-600 transition duration-200" (click)="showAddUserModal = true">
    <i class="fa fa-lg fa-user-plus" aria-hidden="true"></i>
  </button>
</div>
<div *ngIf="role === 'Dungeon Master' && battleActive" class="fixed top-20 left-4 mt-16">
  <button class="vc-button p-3 bg-purple-500 text-black rounded-full shadow-lg hover:bg-purple-600 transition duration-200" (click)="showAddUserModal = true">
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
<div *ngIf="role === 'Dungeon Master' && battleActive" class="fixed top-20 left-4 mt-16">
  <button class="vc-button p-3 bg-purple-500 text-black rounded-full shadow-lg hover:bg-purple-600 transition duration-200" (click)="showDealDamageModal = true">
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>

<!-- Add User Modal -->
<div *ngIf="showAddUserModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center">
    <p class="text-lg font-bold mb-4">Add User to Battle</p>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Type</label>
      <select [(ngModel)]="addUserType" class="bg-white text-black px-2 py-1 rounded">
        <option value="Player">Player</option>
        <option value="NPC">NPC</option>
      </select>
    </div>
    <div *ngIf="addUserType === 'Player'" class="mb-4">
      <label class="block text-white font-bold mb-2">Player Name</label>
      <select [(ngModel)]="selectedPlayer" class="bg-white text-black px-2 py-1 rounded">
        <option *ngFor="let user of availableUsers" [value]="user.username">{{ user.username }}</option>
      </select>
    </div>
    <div *ngIf="addUserType === 'NPC'" class="mb-4">
      <label class="block text-white font-bold mb-2">Name</label>
      <input type="text" [(ngModel)]="npcName" class="bg-white text-black px-2 py-1 rounded" />
      <div class="mt-2">
        <label class="text-white font-bold">
          <input type="checkbox" [(ngModel)]="isEnemy" class="mr-2" />
          Enemy
        </label>
      </div>
      <div class="mt-2">
        <label class="block text-white font-bold mb-2">Max Health</label>
        <input type="number" [(ngModel)]="npcMaxHealth" class="bg-white text-black px-2 py-1 rounded" />
      </div>
    </div>
    <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="submitAddUser()">Submit</button>
    <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="showAddUserModal = false">Cancel</button>
  </div>
</div>

<!-- Deal Damage Modal -->
<div *ngIf="showDealDamageModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center">
    <p class="text-lg font-bold mb-4">Action</p>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Action Type</label>
      <select [(ngModel)]="actionType" class="bg-white text-black px-2 py-1 rounded">
        <option value="damage">Damage</option>
        <option value="heal">Heal</option>
        <option value="shield">Shield</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Amount</label>
      <input type="number" [(ngModel)]="actionAmount" class="bg-white text-black px-2 py-1 rounded" />
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Target</label>
      <select [(ngModel)]="selectedDefender" class="bg-white text-black px-2 py-1 rounded">
        <option *ngFor="let user of activeBattleUsers" [ngValue]="user">
          <ng-container *ngIf="user.maxHealth !== undefined">{{ user.characterName }}</ng-container>
        </option>
      </select>
    </div>
    <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="performAction()" [disabled]="currentTurnIndex === null">Submit</button>
    <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="showDealDamageModal = false">Cancel</button>
    <button class="bg-white text-black px-4 py-2 rounded ml-2" (click)="nextTurn()">Next Turn</button> <!-- Add Next Turn button -->
  </div>
</div>

<!-- Gallery Modal -->
<div *ngIf="showGalleryModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center">
    <p class="text-lg font-bold mb-4">Upload Image to Gallery</p>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Name</label>
      <input type="text" [(ngModel)]="galleryImageName" class="bg-white text-black px-2 py-1 rounded" />
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Image</label>
      <input type="file" (change)="handleImageUpload($event)" class="bg-white text-black px-2 py-1 rounded" />
    </div>
    <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="submitGalleryImage()">Send</button>
    <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="closeGalleryModal()">Cancel</button>
  </div>
</div>

<!-- Gallery Image Display Modal -->
<div *ngIf="showGalleryImageModal && galleryImageData" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" (click)="closeGalleryImageModal()">
  <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center" (click)="$event.stopPropagation()">
    <p class="text-lg font-bold mb-4">{{ galleryImageData.name }}</p>
    <img *ngIf="galleryImageData.filePath" [src]="galleryImageData.filePath" alt="Gallery Image" class="mb-4 max-w-lg h-auto rounded-lg" />
    <button class="bg-white text-black px-4 py-2 rounded" (click)="closeGalleryImageModal()">Close</button>
  </div>
</div>

<div *ngIf="role === 'Dungeon Master' && (isHomeView() || !isMobile())" class="fixed bottom-48 left-4 mb-12">
  <button class="vc-button p-3 bg-purple-500 text-black rounded-full shadow-lg hover:bg-purple-600 transition duration-200" (click)="openGalleryModal()">
    <i class="fa fa-lg fa-image" aria-hidden="true"></i>
  </button>
</div>