<div class="battle-map">
  <button class="mt-1 close-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 w-10 h-10 rounded-full fixed top-4 right-4 hover:bg-purple-700 transition duration-200 flex items-center justify-center" (click)="closeBattleMap()">X</button>
  <button class="mt-1 join-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full fixed top-4 left-4 hover:bg-purple-700 transition duration-200 flex items-center justify-center  w-64" (click)="joinBattle()">
    {{ isUserInBattle() ? 'Leave Battle' : 'Join Battle' }}
  </button>
  <button class="mt-1 end-turn-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full fixed top-16 left-4 hover:bg-purple-700 transition duration-200 flex items-center justify-center w-64"
    [class.bg-gray-500]="!(role === 'Dungeon Master' || isCurrentUserTurn())"
    [class.cursor-not-allowed]="!(role === 'Dungeon Master' || isCurrentUserTurn())"
    [disabled]="!(role === 'Dungeon Master' || isCurrentUserTurn())"
    (click)="startOrEndTurn()">
    {{ turnCounter === null ? 'Start Battle' : 'End Turn' }}
  </button>
  <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full hover:bg-purple-700 transition duration-200 flex items-center justify-center fixed top-4 left-1/4 w-64" (click)="openAddNPCModal()">
    Add NPC
  </button>
  <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full hover:bg-purple-700 transition duration-200 flex items-center justify-center fixed top-16 left-1/4 w-64" (click)="openKillTargetModal()">
    Kill Target
  </button>
  <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full hover:bg-purple-700 transition duration-200 flex items-center justify-center fixed top-4 left-2/4 w-64" (click)="openCombatActionsModal()">
    Combat Actions
  </button>
  <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full hover:bg-purple-700 transition duration-200 flex items-center justify-center fixed top-16 left-2/4 w-64" (click)="endCombat()">
    End Combat
  </button>

  <div class="bg-stone-950 h-full min-h-screen w-screen">
    <div class="flex pt-32">
      <div class="w-1/4 h-full mx-4 border-2 border-blue-800 rounded-lg p-4">
        <ul>
          <li *ngFor="let user of usersInBattle" [ngClass]="{'text-white': user.username === username && !user.isHovered, 'text-blue-800': user.username !== username && !user.isHovered, 'bg-purple-300': user.isCurrentTurn, 'line-through': user.currentHealth === 0, 'text-cyan-500': user.isHovered}" class="relative group p-2 rounded" (mouseenter)="user.isHovered = true" (mouseleave)="user.isHovered = false">
            {{ user.characterName }} <span *ngIf="user.isReadied" class="text-sm">(Readied)</span> <span class="float-right">{{ user.initiative }}</span>
            <div class="relative w-full h-4 bg-gray-400 mt-1 rounded-full">
              <div class="absolute top-0 left-0 h-full bg-green-500 rounded-full" [style.width.%]="(user.currentHealth / user.maxHealth) * 100"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="w-3/4 h-full mx-4 border-2 border-blue-800 rounded-lg p-4 overflow-auto relative map-container" style="position: relative; aspect-ratio: 16/9;">
        <img *ngIf="mapUrl" [src]="mapUrl" alt="mapUrl" class="h-full w-full object-contain" />
        <div *ngFor="let user of usersInBattle" class="absolute cursor-pointer" [ngStyle]="{'top': user.positionY + '%', 'left': user.positionX + '%', 'display': user.currentHealth > 0 ? 'block' : 'none'}" (mousedown)="startDrag($event, user)" (mouseenter)="user.isHovered = true" (mouseleave)="user.isHovered = false">
          <div class="w-16 h-16 rounded-full bg-cover bg-cente" [style.background-image]="'url(' + user.photo + ')'" [ngClass]="{'border-4': true, 'border-green-500': !user.isEnemy && !user.isHovered, 'border-red-500': user.isEnemy && !user.isHovered, 'border-cyan-500': user.isHovered}"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add NPC Modal -->
  <div *ngIf="showAddNPCModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="modal-content bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 p-4 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold mb-4">Add NPC</p>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Character Name</label>
        <input type="text" [(ngModel)]="npcName" class="bg-white text-black px-2 py-1 rounded" />
      </div>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Max Health</label>
        <input type="number" [(ngModel)]="npcMaxHealth" class="bg-white text-black px-2 py-1 rounded" />
      </div>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Current Health</label>
        <input type="number" [(ngModel)]="npcCurrentHealth" class="bg-white text-black px-2 py-1 rounded" />
      </div>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Initiative</label>
        <input type="number" [(ngModel)]="npcInitiative" class="bg-white text-black px-2 py-1 rounded" placeholder="Leave empty for random" />
      </div>
      <div class="mb-4">
        <label class="text-white font-bold">
          <input type="checkbox" [(ngModel)]="npcIsEnemy" class="mr-2" />
          Enemy
        </label>
      </div>
      <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="addNPC()">Add</button>
      <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="closeAddNPCModal()">Cancel</button>
    </div>
  </div>

  <!-- Combat Actions Modal -->
  <div *ngIf="showCombatActionsModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="modal-content bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 p-4 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold mb-4">Combat Actions</p>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Action</label>
        <select [(ngModel)]="combatAction" class="bg-white text-black px-2 py-1 rounded">
          <option value="Take Damage">Take Damage</option>
          <option value="Heal">Heal</option>
          <option value="Shield">Shield</option>
          <option value="Set Readied">Set Readied</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Target</label>
        <select [(ngModel)]="combatTarget" class="bg-white text-black px-2 py-1 rounded">
          <option *ngFor="let user of usersInBattle" [value]="user.characterName">{{ user.characterName }}</option>
        </select>
      </div>
      <div class="mb-4" *ngIf="combatAction !== 'Set Readied'">
        <label class="block text-white font-bold mb-2">Value</label>
        <input type="number" [(ngModel)]="combatValue" class="bg-white text-black px-2 py-1 rounded" />
      </div>
      <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="performCombatAction()">Submit</button>
      <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="closeCombatActionsModal()">Cancel</button>
    </div>
  </div>

  <!-- Kill Target Modal -->
  <div *ngIf="showKillTargetModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="modal-content bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 p-4 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold mb-4">Kill Target</p>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2">Select Target</label>
        <select [(ngModel)]="killTargetName" class="bg-white text-black px-2 py-1 rounded">
          <option *ngFor="let user of usersInBattle" [value]="user.characterName">{{ user.characterName }}</option>
        </select>
      </div>
      <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="killTarget()">Submit</button>
      <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="closeKillTargetModal()">Cancel</button>
    </div>
  </div>

  <app-chat-button [newMessage]="diceResult" [username]="username || 'DefaultUser'"></app-chat-button>
</div>
