<div class="battle-map h-full max-w-screen relative">
  <button class="mt-1 close-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 w-10 h-10 rounded-full fixed top-2 right-4 flex items-center justify-center" (click)="closeBattleMap()">X</button>
  
  <div class="grid grid-cols-4 gap-4 p-4">
    <button class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full flex items-center justify-center" (click)="toggleBattleStatus()">
      {{ inBattle ? 'Leave Battle' : 'Join Battle' }}
    </button>
    <button class="mt-1 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full flex items-center justify-center" (click)="openMaskSkillsModal()">
      Use Mask Skills
    </button>
    <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-amber-300 via-amber-400 to-amber-500 text-stone-950 p-2 rounded-full flex items-center justify-center" (click)="continueBattle()">
      Continue
    </button>
    <button *ngIf="role === 'Dungeon Master'" class="mt-1 add-npc-button bg-gradient-to-r from-red-700 via-red-800 to-red-900 text-stone-950 p-2 rounded-full flex items-center justify-center" (click)="endBattle()">
      End Battle
    </button>
  </div>
  <div class="grid grid-cols-3 gap-8 p-8 h-full w-full text-blue-800">
    <div class="col-span-1 h-full w-full">
      <div *ngFor="let user of usersInBattle" (click)="selectTarget(user); $event.stopPropagation()" [ngClass]="getUserClasses(user)" class="border p-4 rounded mb-4">
        <div class="flex justify-between">
          <div class="flex items-center">
            <div class="text-xl">{{ user.characterName }}</div>
            <i class="fa-solid fa-mask ml-2 cursor-pointer hover:text-white" (mouseenter)="showMaskStats(user, $event)" (mouseleave)="hideMaskStats()"></i>
          </div>
          <div class="flex space-x-2">
            <div class="text-center">
              <i class="fa-solid fa-bolt-lightning text-yellow-600"></i>
              <div>{{ user.stun }}</div>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-fire text-orange-600"></i>
              <div>{{ user.burn }}</div>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-skull text-purple-600"></i>
              <div>{{ user.poison }}</div>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-droplet text-red-600"></i>
              <div>{{ user.bleed }}</div>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-layer-group text-green-600"></i>
              <div>{{ user.buffstack }}</div>
            </div>
          </div>
        </div>
        <div class="mt-1">
          <div class="w-full h-5 bg-gray-500 mb-1 rounded-l-full rounded-r-full relative">
            <div class="h-full bg-yellow-500 absolute top-0 left-0 rounded-l-full rounded-r-full" [style.width.%]="(user.currentSpeed / 100) * 100"></div> <!-- Max value is 100 -->
          </div>
          <div class="w-full h-5 bg-gray-500 rounded-l-full rounded-r-full relative">
            <div class="h-full bg-green-500 absolute top-0 left-0 rounded-l-full rounded-r-full" [style.width.%]="(user.currentHealth / user.health) * 100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2 h-full w-full bg-green-500 relative" (dragover)="dragOver($event)">
      <img [src]="mapUrl" alt="Battle Map" class="w-full h-full object-cover">
      <div *ngFor="let icon of iconsOnMap" class="absolute" [ngStyle]="{ top: icon.position.top + 'px', left: icon.position.left + 'px' }">
        <img [src]="icon.maskPhoto" alt="{{ icon.characterName }}" class="w-10 h-10 rounded-full" 
             [draggable]="role === 'Dungeon Master'" 
             (dragstart)="startDrag($event, icon.characterName)" 
             (drag)="drag($event, icon.characterName)" 
             (dragend)="endDrag($event, icon.characterName)" 
             [style.cursor]="role === 'Dungeon Master' ? 'grabbing' : 'default'">
      </div>
    </div>
  </div>

  <app-chat-button [newMessage]="diceResult" [username]="username || 'DefaultUser'"></app-chat-button>
  <app-roll-button (resultRolled)="handleDiceResult($event)"></app-roll-button>

  <div *ngIf="showMaskSkillsModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" (click)="closeMaskSkillsModal()">
    <div class="bg-stone-950 text-blue-800 p-6 rounded-lg w-4/5 h-5/6 overflow-y-auto scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-stone-900" (click)="$event.stopPropagation()">
      <ul>
        <li *ngFor="let skill of maskActiveSkillDetails" (click)="logSkillId(skill.skillID)" [ngClass]="getSkillBorderClass(skill.skillID)" class="border p-4 mb-4 rounded-lg bg-stone-900 hover:bg-blue-950 hover:cursor-pointer">
          <div class="mb-4">
            <span class="text-2xl font-bold">{{ skill.skillName }}</span>
          </div>
          <div class="text-lg">
            <div class="flex justify-between mb-2">
              <span><strong>Main Stat:</strong></span>
              <span>{{ skill.mainStat }} ({{ skill.mainStatPercentage }}%)</span>
            </div>
            <div class="flex justify-between mb-2">
              <span><strong>Cooldown:</strong></span>
              <span>{{ skill.cooldown }} turns</span>
            </div>
            <div class="flex justify-between mb-2">
              <span><strong>Amount of Strikes:</strong></span>
              <span>{{ skill.amountOfStrikes }}</span>
            </div>
            <div class="flex justify-between mb-2">
              <span><strong>On Hit Effect:</strong></span>
              <span>{{ skill.onHitEffect }}</span>
            </div>
            <div class="flex flex-col">
              <span><strong>Description:</strong></span>
              <span>{{ skill.description }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="showChooseUserPopup" class="fixed top-0 left-0 right-0 z-50 flex items-center justify-center bg-blue-800 text-white p-4 h-16">
    <p class="text-xl font-bold">
      Choose a user 
      <span *ngIf="selectedSkill?.isMultiTarget">
        (Target {{ currentTargetIndex + 1 }} of {{ selectedSkill.amountOfStrikes }})
      </span>
    </p>
    <button class="absolute right-4 bg-blue-500 text-white p-2 rounded-full" (click)="cancelSkill()">X</button>
  </div>

  <div *ngIf="showSkillCanceledPopup" class="fixed top-0 left-0 right-0 z-50 flex items-center justify-center bg-red-500 text-white p-4 h-16">
    <p class="text-xl font-bold">Skill canceled</p>
  </div>

  <div *ngIf="showMaskStatsPopup" class="fixed z-50 bg-stone-950 text-blue-800 p-4 rounded-lg border border-blue-800" [style.top.px]="maskStatsPopupPosition.top" [style.left.px]="maskStatsPopupPosition.left">
    <div class="text-lg">
      <div class="flex justify-between mb-2">
        <span><strong>Attack Damage:</strong></span>
        <span>{{ maskStats.attackDamage }}</span>
      </div>
      <div class="flex justify-between mb-2">
        <span><strong>Ability Damage:</strong></span>
        <span>{{ maskStats.abilityDamage }}</span>
      </div>
      <div class="flex justify-between mb-2">
        <span><strong>Magic Resist:</strong></span>
        <span>{{ maskStats.magicResist }}</span>
      </div>
      <div class="flex justify-between mb-2">
        <span><strong>Protections:</strong></span>
        <span>{{ maskStats.protections }}</span>
      </div>
      <div class="flex justify-between mb-2">
        <span><strong>Health:</strong></span>
        <span>{{ maskStats.health }}</span>
      </div>
      <div class="flex justify-between mb-2">
        <span><strong>Speed:</strong></span>
        <span>{{ maskStats.speed }}</span>
      </div>
      <div class="flex justify-center mt-4">
        <img *ngIf="maskStats.photo" [src]="maskStats.photo" alt="Mask Photo" class="h-64">
      </div>
    </div>
  </div>
</div>
