<table class="text-blue-800 w-full pb-40" *ngIf="!isMobile">
  <thead>
    <tr>
      <th class="p-4 text-4xl">Character Name</th>
      <th class="p-4 text-4xl">Wishes</th>
      <th class="p-4 text-4xl">Anti-Wishes</th>
      <th class="p-4 text-4xl">Inspiration</th>
      <th class="p-4 text-4xl">Discouragement</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scores" [ngClass]="{'highlight': score.characterName === characterName}">
      <td class="p-4">{{ score.characterName }}</td>
      <td class="p-4 text-center">
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'wishes')">-</button>
        {{ score.wishes }}
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'wishes')">+</button>
      </td>
      <td class="p-4 text-center">
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'antiWishes')">-</button>
        {{ score.antiWishes }}
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'antiWishes')">+</button>
      </td>
      <td class="p-4 text-center">
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'inspiration')">-</button>
        {{ score.inspiration }}
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'inspiration')">+</button>
      </td>
      <td class="p-4 text-center">
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'discouragement')">-</button>
        {{ score.discouragement }}
        <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 w-1/6 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'discouragement')">+</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isMobile">
  <div *ngFor="let score of scores" class="mb-4 p-4 border-b border-blue-800">
    <div class="text-4xl text-center mb-2 text-blue-800">{{ score.characterName }}</div>
    <div class="text-center mb-2">
      <span class="text-2xl">Wishes:</span>
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'wishes')">-</button>
      {{ score.wishes }}
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'wishes')">+</button>
    </div>
    <div class="text-center mb-2">
      <span class="text-2xl">Anti-Wishes:</span>
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'antiWishes')">-</button>
      {{ score.antiWishes }}
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'antiWishes')">+</button>
    </div>
    <div class="text-center mb-2">
      <span class="text-2xl">Inspiration:</span>
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'inspiration')">-</button>
      {{ score.inspiration }}
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'inspiration')">+</button>
    </div>
    <div class="text-center mb-2">
      <span class="text-2xl">Discouragement:</span>
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="decrementScore(score.characterName, 'discouragement')">-</button>
      {{ score.discouragement }}
      <button *ngIf="role === 'Dungeon Master'" class="p-2 mx-2 rounded-full text-stone-950 bg-blue-800 hover:text-white" (click)="incrementScore(score.characterName, 'discouragement')">+</button>
    </div>
  </div>
</div>