<div class="flex items-center justify-center bg-stone-950 h-full min-h-screen w-screen">
  <div [ngClass]="{'grid grid-cols-2 gap-6': !isMobile, 'flex flex-col': isMobile}" class="h-2/3 login-container mx-auto border rounded-3xl border-purple-500 w-2/3">
    <div class="w-full h-full flex flex-col justify-evenly">
      <h2 class="text-center text-4xl mb-4 text-purple-500">Login Page</h2>
      <form (ngSubmit)="onSubmit()" class="w-f ull mx-auto px-4">
        <div class="mb-4">
          <label for="email" class="block mb-2 text-purple-500">Email</label>
          <input 
            type="email" 
            id="email" 
            [(ngModel)]="email" 
            name="email" 
            requipurple 
            class="rounded w-full py-2 px-3 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-2 mr-2 text-black placeholder-black"
            placeholder="Enter your email"          
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block mb-2 text-purple-500">Password</label>
          <input 
            type="password" 
            id="password" 
            [(ngModel)]="password" 
            name="password" 
            requipurple 
            class="rounded w-full py-2 px-3 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-2 mr-2 text-black placeholder-black"
            placeholder="Enter your password"
          />
        </div>
        <button type="submit" class="bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-black rounded py-2 px-4 w-full">Login</button>
      </form>

      <p class="text-center text-white">
        Don't have an account? 
        <button class="text-purple-500 underline" (click)="navigateTo('register')">
          Register instead!
        </button>
      </p>
    </div>
    <div *ngIf="!isMobile" class="h-full p-4">
      <img [src]="loginImageUrl" alt="Login Image" class="w-full h-full object-cover map-image map-image rounded-3xl">
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" (click)="closeModal($event)">
  <div class="bg-white p-6 rounded shadow-lg">
    <h2 class="text-xl font-bold mb-4">Error</h2>
    <p>{{ errorMessage }}</p>
    <button class="mt-4 bg-purple-500 text-white py-2 px-4 rounded" (click)="showModal = false">Close</button>
  </div>
</div>
