<div class="magic-container">
    <button class="magic-close-button" (click)="closeGallery()">X</button>
    <app-chat-button [newMessage]="diceResult" [username]="username || 'DefaultUser'"></app-chat-button>

    <button *ngIf="role === 'Dungeon Master'" class="magic-add-button" (click)="openAddImageModal()">
        Add Image
    </button>

    <!-- Modal Dialog for Image Upload -->
    <div *ngIf="isAddImageModalOpen" class="magic-modal-overlay">
        <div class="magic-modal">
            <h2 class="magic-modal-title">Upload Image</h2>
            <input type="text" [(ngModel)]="newImageName" placeholder="Image Name" class="magic-input">
            <input type="file" (change)="onFileSelected($event)" class="magic-file-input">
            <div class="magic-modal-buttons">
                <button class="magic-button-secondary" (click)="closeAddImageModal()">Cancel</button>
                <button class="magic-button-primary" (click)="uploadImage()">Upload</button>
            </div>
        </div>
    </div>

    <div class="magic-main-content">
        <div class="magic-gallery-layout">
            <div *ngIf="!isMobile" class="magic-latest-panel">
                <p class="magic-text">Latest Image:</p>
                <div class="magic-latest-image">
                    <img 
                        *ngIf="latestImage"
                        [src]="latestImage.photo" 
                        alt="{{ latestImage.imageName }}" 
                        class="magic-image"
                    >
                </div>
            </div>
            <div [ngClass]="{'magic-all-images-full': isMobile, 'magic-all-images': !isMobile}">
                <p class="magic-text">All Images:</p>
                <div class="magic-gallery-grid">
                    <div *ngFor="let image of images" class="magic-image-card">
                        <div class="magic-image-container">
                            <img 
                                [src]="image.photo" 
                                alt="{{ image.imageName }}" 
                                class="magic-image"
                            >
                        </div>
                        <div class="magic-image-title">
                            <h2 class="magic-text">{{ image.imageName }}</h2>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>