<div class="dm-screen pb-40">
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let character of characters" 
         class="p-4 rounded shadow-md text-white flex items-center cursor-pointer"
         [ngClass]="{'bg-purple-700': currentlySelectedCharacter === character.name, 'bg-purple-500': currentlySelectedCharacter !== character.name}"
         (click)="selectCharacter(character.name)">
      <img *ngIf="character.photo" [src]="character.photo" alt="Character Photo" class="w-12 h-12 rounded-full mr-4" />
      <span>{{ character.name }}</span>
    </div>
  </div>

  <div *ngIf="currentlySelectedCharacter" class="mt-4 p-4 bg-stone-950 rounded shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-purple-400">Manage {{ currentlySelectedCharacter }}</h2>
    <select [(ngModel)]="selectedView" class="p-2 mb-4 bg-stone-900 text-white rounded">
      <option>Edit Stats</option>
      <option>Manage Family Members</option>
      <option>Manage Friend Members</option>
      <option>Manage Inventory</option>
      <option>Manage Skills</option>
    </select>

    <div *ngIf="selectedView === 'Edit Stats'">
      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let key of objectKeys(statsSheet)">
          <p class="font-semibold text-purple-400">{{ key }}</p>
          <input [(ngModel)]="statsSheet[key]" class="p-2 border rounded w-full bg-stone-900 text-white" />
        </div>
      </div>
      <button (click)="saveStatsSheet()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
    </div>

    <div *ngIf="selectedView === 'Manage Family Members'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let familyMember of familyMembers; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500">
          <img *ngIf="familyMember.photo" [src]="familyMember.photo" alt="Family Member Photo" class="w-12 h-12 rounded-full mr-4" />
          <div>
            <span>{{ familyMember.characterName }}</span>
            <p class="text-sm">Age: {{ familyMember.age }}</p>
          </div>
        </div>
      </div>
      <button (click)="addFamilyMember()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Family Member</button>
      <div *ngIf="newFamilyMember">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div>
            <p class="font-semibold text-purple-400">Character Name</p>
            <input [(ngModel)]="newFamilyMember.characterName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Age</p>
            <input [(ngModel)]="newFamilyMember.age" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Race</p>
            <input [(ngModel)]="newFamilyMember.race" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Photo</p>
            <div *ngIf="!newFamilyMember.photo" class="flex items-center justify-center h-full">
              <label class="cursor-pointer">
                <span class="text-purple-500">Upload Image</span>
                <input type="file" (change)="onImageUploadFamily($event)" class="hidden" />
              </label>
            </div>
            <img *ngIf="newFamilyMember.photo" [src]="newFamilyMember.photo" alt="Family Member Photo" class="w-12 h-12 rounded-full mr-4" />
          </div>
        </div>
        <button (click)="saveFamilyMember()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView === 'Manage Friend Members'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let friendMember of friendMembers; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500">
          <img *ngIf="friendMember.photo" [src]="friendMember.photo" alt="Friend Member Photo" class="w-12 h-12 rounded-full mr-4" />
          <div>
            <span>{{ friendMember.characterName }}</span>
            <p class="text-sm">Age: {{ friendMember.age }}</p>
          </div>
        </div>
      </div>
      <button (click)="addFriendMember()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Friend Member</button>
      <div *ngIf="newFriendMember">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div>
            <p class="font-semibold text-purple-400">Character Name</p>
            <input [(ngModel)]="newFriendMember.characterName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Age</p>
            <input [(ngModel)]="newFriendMember.age" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Race</p>
            <input [(ngModel)]="newFriendMember.race" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Photo</p>
            <div *ngIf="!newFriendMember.photo" class="flex items-center justify-center h-full">
              <label class="cursor-pointer">
                <span class="text-purple-500">Upload Image</span>
                <input type="file" (change)="onImageUploadFriend($event)" class="hidden" />
              </label>
            </div>
            <img *ngIf="newFriendMember.photo" [src]="newFriendMember.photo" alt="Friend Member Photo" class="w-12 h-12 rounded-full mr-4" />
          </div>
        </div>
        <button (click)="saveFriendMember()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView === 'Manage Inventory'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let inventoryItem of inventoryItems; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500 relative"
             (mouseenter)="showItemModal(inventoryItem)" (mouseleave)="hideItemModal()">
          <img *ngIf="inventoryItem.photo" [src]="inventoryItem.photo" alt="Inventory Item Photo" class="w-12 h-12 rounded-full mr-4" />
          <div>
            <span>{{ inventoryItem.itemName }}</span>
            <p class="text-sm">Type: {{ inventoryItem.type }}</p>
          </div>
          <div *ngIf="hoveredItem === inventoryItem" class="absolute bottom-full mb-2 p-4 bg-purple-900 rounded-md shadow-lg z-10 w-full left-0">
            <div class="flex-grow flex flex-col">
              <div class="flex-grow flex items-center justify-center mb-4">
                <img 
                  [src]="inventoryItem.photo" 
                  alt="{{ inventoryItem.itemName }}" 
                  class="max-h-52 h-auto w-full object-contain rounded-md" 
                  style="max-height: 300px;">
              </div>
              <div class="text-center">
                <h2 class="text-3xl font-bold">{{ inventoryItem.itemName }}</h2>
                <p class="text-sm">Type: {{ inventoryItem.type }}</p>
                <p class="text-sm">Main Stat: {{ inventoryItem.mainStat }}</p>                
                <p [innerHTML]="formatDescription(inventoryItem.description)" class="text-sm"></p>
              </div>
            </div>
            <div class="mt-auto text-center">
              <p class="text-xl">Damage</p>
              <div class="flex justify-around hover:text-white cursor-pointer">
                <p class="text-3xl">d{{ inventoryItem.damage }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="addInventoryItem()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Inventory Item</button>
      <div *ngIf="newInventoryItem">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Item Name</p>
            <input [(ngModel)]="newInventoryItem.itemName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Type</p>
            <input [(ngModel)]="newInventoryItem.type" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Main Stat</p>
            <select [(ngModel)]="newInventoryItem.mainStat" class="p-2 border rounded w-full bg-stone-900 text-white">
              <option>Strength</option>
              <option>Athletics</option>
              <option>Swordsmanship</option>
              <option>Dexterity</option>
              <option>Acrobatics</option>
              <option>Sleight Of Hand</option>
              <option>Stealth</option>
              <option>Marksmanship</option>
              <option>Pilot</option>
              <option>Constitution</option>
              <option>Intelligence</option>
              <option>History</option>
              <option>Investigation</option>
              <option>Nature</option>
              <option>Force Strength</option>
              <option>Splicing</option>
              <option>Wisdom</option>
              <option>Animal Handling</option>
              <option>Insight</option>
              <option>Medicine</option>
              <option>Perception</option>
              <option>Survival</option>
              <option>Force Capacity</option>
              <option>Mapping</option>
              <option>Charisma</option>
              <option>Deception</option>
              <option>Intimidation</option>
              <option>Performance</option>
              <option>Persuasion</option>
            </select>
          </div>
          <div class="col-span-1 row-span-3">
            <p class="font-semibold text-purple-400">Description</p>
            <textarea [(ngModel)]="newInventoryItem.description" class="p-2 border rounded w-full bg-stone-900 text-white h-full"></textarea>
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Damage</p>
            <input [(ngModel)]="newInventoryItem.damage" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Photo</p>
            <div *ngIf="!newInventoryItem.photo" class="flex items-center justify-center h-full">
              <label class="cursor-pointer">
                <span class="text-purple-500">Upload Image</span>
                <input type="file" (change)="onImageUploadInventory($event)" class="hidden" />
              </label>
            </div>
            <img *ngIf="newInventoryItem.photo" [src]="newInventoryItem.photo" alt="Inventory Item Photo" class="w-12 h-12 rounded-full mr-4" />
          </div>
        </div>
        <button (click)="saveInventoryItem()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView === 'Manage Skills'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let skill of skillList; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500">
          <div>
            <span>{{ skill.skillName }}</span>
            <p class="text-sm">Main Stat: {{ skill.mainStat }}</p>
          </div>
        </div>
      </div>
      <button (click)="addSkill()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Skill</button>
      <div *ngIf="newSkill">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Skill Name</p>
            <input [(ngModel)]="newSkill.skillName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Main Stat</p>
            <select [(ngModel)]="newSkill.mainStat" class="p-2 border rounded w-full bg-stone-900 text-white">
              <option>Strength</option>
              <option>Athletics</option>
              <option>Swordsmanship</option>
              <option>Dexterity</option>
              <option>Acrobatics</option>
              <option>Sleight Of Hand</option>
              <option>Stealth</option>
              <option>Marksmanship</option>
              <option>Pilot</option>
              <option>Constitution</option>
              <option>Intelligence</option>
              <option>History</option>
              <option>Investigation</option>
              <option>Nature</option>
              <option>Force Strength</option>
              <option>Splicing</option>
              <option>Wisdom</option>
              <option>Animal Handling</option>
              <option>Insight</option>
              <option>Medicine</option>
              <option>Perception</option>
              <option>Survival</option>
              <option>Force Capacity</option>
              <option>Mapping</option>
              <option>Charisma</option>
              <option>Deception</option>
              <option>Intimidation</option>
              <option>Performance</option>
              <option>Persuasion</option>
            </select>
          </div>
          <div class="col-span-1 row-span-3">
            <p class="font-semibold text-purple-400">Description</p>
            <textarea [(ngModel)]="newSkill.description" class="p-2 border rounded w-full bg-stone-900 text-white h-full"></textarea>
          </div>
          <div class="col-span-1">
            <p class="font-semibold text-purple-400">Dice Roll</p>
            <input [(ngModel)]="newSkill.diceRoll" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
        </div>
        <button (click)="saveSkill()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView !== 'Edit Stats' && selectedView !== 'Manage Family Members' && selectedView !== 'Manage Friend Members' && selectedView !== 'Manage Inventory' && selectedView !== 'Manage Skills'" class="text-white">
      {{ selectedView }} is working.
    </div>
  </div>
</div>
