<div class="dm-screen pb-40">
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let character of characters" 
         class="p-4 rounded shadow-md text-white flex items-center cursor-pointer"
         [ngClass]="{'bg-purple-700': currentlySelectedCharacter === character.name, 'bg-purple-500': currentlySelectedCharacter !== character.name}"
         (click)="selectCharacter(character.name)">
      <img *ngIf="character.photo" [src]="character.photo" alt="Character Photo" class="w-12 h-12 rounded-full mr-4" />
      <span>{{ character.name }}</span>
    </div>
  </div>

  <div *ngIf="currentlySelectedCharacter" class="mt-4 p-4 bg-stone-950 rounded shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-purple-400">Manage {{ currentlySelectedCharacter }}</h2>
    <select [(ngModel)]="selectedView" class="p-2 mb-4 bg-stone-900 text-white rounded">
      <option>Edit Stats</option>
      <option>Manage Family Members</option>
      <option>Manage Friend Members</option>
      <option>Manage Inventory</option>
      <option>Manage Skills</option>
    </select>

    <div *ngIf="selectedView === 'Edit Stats'">
      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let key of objectKeys(statsSheet)">
          <p class="font-semibold text-purple-400">{{ key }}</p>
          <input [(ngModel)]="statsSheet[key]" class="p-2 border rounded w-full bg-stone-900 text-white" />
        </div>
      </div>
      <button (click)="saveStatsSheet()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
    </div>

    <div *ngIf="selectedView === 'Manage Family Members'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let familyMember of familyMembers; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500">
          <img *ngIf="familyMember.photo" [src]="familyMember.photo" alt="Family Member Photo" class="w-12 h-12 rounded-full mr-4" />
          <div>
            <span>{{ familyMember.characterName }}</span>
            <p class="text-sm">Age: {{ familyMember.age }}</p>
          </div>
        </div>
      </div>
      <button (click)="addFamilyMember()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Family Member</button>
      <div *ngIf="newFamilyMember">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div>
            <p class="font-semibold text-purple-400">Character Name</p>
            <input [(ngModel)]="newFamilyMember.characterName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Age</p>
            <input [(ngModel)]="newFamilyMember.age" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Race</p>
            <input [(ngModel)]="newFamilyMember.race" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Photo</p>
            <div *ngIf="!newFamilyMember.photo" class="flex items-center justify-center h-full">
              <label class="cursor-pointer">
                <span class="text-purple-500">Upload Image</span>
                <input type="file" (change)="onImageUploadFamily($event)" class="hidden" />
              </label>
            </div>
            <img *ngIf="newFamilyMember.photo" [src]="newFamilyMember.photo" alt="Family Member Photo" class="w-12 h-12 rounded-full mr-4" />
          </div>
        </div>
        <button (click)="saveFamilyMember()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView === 'Manage Friend Members'" class="text-white">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let friendMember of friendMembers; let i = index" 
             class="p-4 rounded shadow-md text-white flex items-center cursor-pointer bg-purple-500">
          <img *ngIf="friendMember.photo" [src]="friendMember.photo" alt="Friend Member Photo" class="w-12 h-12 rounded-full mr-4" />
          <div>
            <span>{{ friendMember.characterName }}</span>
            <p class="text-sm">Age: {{ friendMember.age }}</p>
          </div>
        </div>
      </div>
      <button (click)="addFriendMember()" class="p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded mt-4">+ Add Friend Member</button>
      <div *ngIf="newFriendMember">
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div>
            <p class="font-semibold text-purple-400">Character Name</p>
            <input [(ngModel)]="newFriendMember.characterName" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Age</p>
            <input [(ngModel)]="newFriendMember.age" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Race</p>
            <input [(ngModel)]="newFriendMember.race" class="p-2 border rounded w-full bg-stone-900 text-white" />
          </div>
          <div>
            <p class="font-semibold text-purple-400">Photo</p>
            <div *ngIf="!newFriendMember.photo" class="flex items-center justify-center h-full">
              <label class="cursor-pointer">
                <span class="text-purple-500">Upload Image</span>
                <input type="file" (change)="onImageUploadFriend($event)" class="hidden" />
              </label>
            </div>
            <img *ngIf="newFriendMember.photo" [src]="newFriendMember.photo" alt="Friend Member Photo" class="w-12 h-12 rounded-full mr-4" />
          </div>
        </div>
        <button (click)="saveFriendMember()" class="mt-4 p-2 bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white rounded">Save</button>
      </div>
    </div>

    <div *ngIf="selectedView !== 'Edit Stats' && selectedView !== 'Manage Family Members' && selectedView !== 'Manage Friend Members'" class="text-white">
      {{ selectedView }} is working.
    </div>
  </div>
</div>
