<div class="grid grid-cols-4 gap-4 p-4">
    <button (click)="joinBattle()" class="m-2 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full flex items-center justify-center">
        Join/Leave Battle
    </button>
    <button (click)="useMainAction()" [ngClass]="canUseMainAction() ? 'bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900' : 'bg-gradient-to-r from-red-700 via-red-800 to-red-900'" class="m-2 add-npc-button text-stone-950 p-2 rounded-full flex items-center justify-center">
       Use Main Action
    </button>
    <button class="m-2 add-npc-button bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 text-stone-950 p-2 rounded-full flex items-center justify-center">
        Use Bonus Action
    </button>
    <button *ngIf="userInformation.role === 'Dungeon Master'" (click)="continue()" class="m-2 add-npc-button bg-gradient-to-r from-amber-300 via-amber-400 to-amber-500 text-stone-950 p-2 rounded-full flex items-center justify-center">
        Continue
    </button>
    <button *ngIf="userInformation.role === 'Dungeon Master'" (click)="openAssignTeamsModal()" class="m-2 add-npc-button bg-gradient-to-r from-green-500 via-green-600 to-green-700 text-stone-950 p-2 rounded-full flex items-center justify-center">
      Assign Teams
    </button>
    <button (click)="leaveBattle()" class="m-2 add-npc-button bg-gradient-to-r from-red-600 via-red-900 to-stone-950 text-stone-950 p-2 rounded-full flex items-center justify-center">
        Return to Home Page
    </button>
    <button *ngIf="userInformation.role === 'Dungeon Master'" (click)="endBattle()" class="m-2 add-npc-button bg-gradient-to-r from-purple-700 via-purple-800 to-purple-900 text-stone-950 p-2 rounded-full flex items-center justify-center">
      End Battle
    </button>
</div>

<div class="fixed top-1/3 right-4 space-y-2">
  <div *ngFor="let message of battleMessages" class="bg-blue-500 text-white p-4 rounded shadow-lg transition-opacity duration-300">
    {{ message }}
  </div>
</div>

<div *ngIf="showTargetBanner && selectedSkill?.isMultiTarget" class="fixed top-0 left-0 right-0 bg-yellow-500 text-black text-center p-2 h-20 flex items-center justify-center">
  <span>Choose target {{ selectedTargets.length + 1 }} of {{ selectedSkill?.amountOfStrikes || 1 }} of skill {{ selectedSkill?.skillName }}</span>
  <button (click)="cancelSkillSelection()" class="absolute right-4 bg-amber-600 text-white p-1 rounded">Cancel</button>
</div>

<div *ngIf="showTargetBanner && !selectedSkill?.isMultiTarget" class="fixed top-0 left-0 right-0 bg-yellow-500 text-black text-center p-2 h-20 flex items-center justify-center">
  <span>Choose target of skill {{ selectedSkill?.skillName }}</span>
  <button (click)="cancelSkillSelection()" class="absolute right-4 bg-amber-600 text-white p-1 rounded">Cancel</button>
</div>

<div class="grid grid-cols-3 gap-4 p-4">
    <div class="col-span-1">
        <ul>
            <li *ngFor="let mask of masksInBattle" (click)="selectTarget(mask)" (mouseover)="mask.hover = true" (mouseout)="mask.hover = false" class="transition-transform duration-500 ease-in-out transform hover:scale-105">
                <div class="flex items-center space-x-2 p-4 my-2 border" [ngClass]="getBorderColor(mask)" rounded>
                    <div class="w-24 h-24">
                        <img *ngIf="mask.photo" [src]="mask.photo" alt="Mask Photo" class="w-full h-full rounded-full" />
                    </div>
                    <div class="flex flex-col justify-around h-24 w-full">
                        <div class="flex justify-between">
                            <div class="text-blue-700 text-2xl flex items-center">
                                Mask: {{ mask.maskID }}
                                <i class="fa-solid fa-mask text-blue-700 ml-2 cursor-pointer" (click)="openMaskDetails(mask)"></i>
                            </div>
                            <div class="flex space-x-2 justify-end text-blue-700">
                                <div class="text-center">
                                  <i class="fa-solid fa-bolt-lightning text-yellow-600"></i>
                                  <div>{{ mask.stunStacks }}</div>
                                </div>
                                <div class="text-center">
                                  <i class="fa-solid fa-fire text-orange-600"></i>
                                  <div>{{ mask.burnStacks }}</div>
                                </div>
                                <div class="text-center">
                                  <i class="fa-solid fa-skull text-purple-600"></i>
                                  <div>{{ mask.poisonStacks }}</div>
                                </div>
                                <div class="text-center">
                                  <i class="fa-solid fa-droplet text-red-600"></i>
                                  <div>{{ mask.bleedStacks }}</div>
                                </div>
                                <div class="text-center">
                                  <i class="fa-solid fa-layer-group text-green-600"></i>
                                  <div>{{ mask.buffStacks }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full bg-gray-300 h-4 rounded-full">
                            <div class="bg-green-500 h-full rounded-full" [style.width.%]="(mask.currentHealth / mask.health) * 100"></div>
                        </div>
                        <div class="w-full bg-gray-300 h-4 rounded-full">
                            <div class="bg-yellow-500 h-full rounded-full" [style.width.%]="mask.currentSpeed"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-span-2 bg-red-500">
        <!-- Placeholder for future content -->
    </div>
</div>

<div *ngIf="showSkillsModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="skills-modal w-1/3 p-4 rounded border border-blue-700 bg-blue-900 scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-stone-900 overflow-y-auto max-h-96">
    <h2 class="text-xl font-bold mb-4">Skills</h2>
    <ul>
      <li *ngFor="let skill of skills" class="mb-2" (click)="selectSkill(skill)" [ngClass]="{'border-red-700 cursor-not-allowed': skill.cooldown > 0}">
        <div class="p-2 border rounded" [ngClass]="skill.cooldown > 0 ? 'border-red-700 bg-stone-950 text-red-700' : 'border-blue-700 bg-stone-950 text-blue-700'">
          <div><strong>Name:</strong> {{ skill.skillName }}</div>
          <div><strong>Description:</strong> {{ skill.description }}</div>
          <div><strong>Main Stat:</strong> {{ skill.mainStat }}</div>
          <div><strong>Main Stat Percentage:</strong> {{ skill.mainStatPercentage }}</div>
          <div><strong>Cooldown:</strong> {{ skill.cooldown }}</div>
          <div><strong>Amount of Strikes:</strong> {{ skill.amountOfStrikes }}</div>
          <div><strong>On Hit Effect:</strong> {{ skill.onHitEffect }}</div>
          <div><strong>Is Multi-Target:</strong> {{ skill.isMultiTarget }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="showAssignTeamsModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" (click)="closeAssignTeamsModal()">
  <div class="assign-teams-modal w-2/3 p-4 rounded border border-blue-700 bg-blue-900 scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-stone-900 overflow-y-auto max-h-96" (click)="$event.stopPropagation()">
    <h2 class="text-xl font-bold mb-4">Assign Teams</h2>
    <div class="grid grid-cols-3 gap-4">
      <div>
        <h3 class="text-lg font-bold mb-2">Allies</h3>
        <ul>
          <li *ngFor="let mask of allies" class="flex items-center space-x-2">
            <button (click)="moveLeft(mask)" class="p-1" [disabled]="true">&lt;</button>
            <img *ngIf="mask.photo" [src]="mask.photo" alt="Mask Photo" class="w-12 h-12 rounded-full" />
            <button (click)="moveRight(mask)" class="p-1">&gt;</button>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-bold mb-2">Neutral</h3>
        <ul>
          <li *ngFor="let mask of neutral" class="flex items-center space-x-2">
            <button (click)="moveLeft(mask)" class="p-1">&lt;</button>
            <img *ngIf="mask.photo" [src]="mask.photo" alt="Mask Photo" class="w-12 h-12 rounded-full" />
            <button (click)="moveRight(mask)" class="p-1">&gt;</button>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-bold mb-2">Enemies</h3>
        <ul>
          <li *ngFor="let mask of enemies" class="flex items-center space-x-2">
            <button (click)="moveLeft(mask)" class="p-1">&lt;</button>
            <img *ngIf="mask.photo" [src]="mask.photo" alt="Mask Photo" class="w-12 h-12 rounded-full" />
            <button (click)="moveRight(mask)" class="p-1" [disabled]="true">&gt;</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showConfirmationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="confirmation-modal w-1/3 p-4 rounded border border-blue-700 bg-blue-900">
    <h2 class="text-xl font-bold mb-4">Confirm Target</h2>
    <p>The target is on your team, are you sure you want to target them?</p>
    <div class="flex justify-end space-x-4 mt-4">
      <button (click)="confirmTargetSelection()" class="bg-green-500 text-white p-2 rounded">Yes</button>
      <button (click)="cancelTargetSelection()" class="bg-red-500 text-white p-2 rounded">No</button>
    </div>
  </div>
</div>

<div *ngIf="showMaskDetailsModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="mask-details-modal w-1/3 p-4 rounded border border-blue-700 bg-blue-900">
    <h2 class="text-xl font-bold mb-4">Mask Details</h2>
    <div *ngIf="selectedMaskDetails">
      <p><strong>Attack Damage:</strong> {{ selectedMaskDetails.attackDamage }}</p>
      <p><strong>Ability Damage:</strong> {{ selectedMaskDetails.abilityDamage }}</p>
      <p><strong>Protections:</strong> {{ selectedMaskDetails.protections }}</p>
      <p><strong>Magic Resist:</strong> {{ selectedMaskDetails.magicResist }}</p>
      <p><strong>Health:</strong> {{ selectedMaskDetails.currentHealth }} / {{ selectedMaskDetails.health }}</p>
      <p><strong>Speed:</strong> {{ selectedMaskDetails.currentSpeed }} / {{ selectedMaskDetails.speed }}</p>
    </div>
    <div class="flex justify-end space-x-4 mt-4">
      <button (click)="closeMaskDetailsModal()" class="bg-red-500 text-white p-2 rounded">Close</button>
    </div>
  </div>
</div>