<div class="flex">
  <div class="w-1/4 bg-stone-950 px-5 border border-purple-500 rounded-lg mr-5 text-purple-500">
    <div class="flex justify-between border-b-2 border-purple-500">
      <p class="text-2xl text-purple-500">Character Name</p>
      <p class="text-2xl text-purple-500">Initiative</p>
    </div>
    <div *ngFor="let user of activeBattleUsers; let i = index" class="flex justify-between" [ngClass]="{'bg-purple-700': i === currentTurnIndex}">
      <p [ngClass]="{'text-red-500': user.isEnemy, 'text-purple-500': !user.isEnemy, 'line-through': user.currentHealth !== undefined && user.currentHealth <= 0}">
        {{ user.characterName }}
      </p>
      <p [ngClass]="{'text-red-500': user.isEnemy, 'text-purple-500': !user.isEnemy}">
        ({{ user.initiative.random }} {{ user.initiative.modifier >= 0 ? '+' : '-' }}{{ getAbs(user.initiative.modifier) }} = {{ user.initiative.final }})
      </p>
    </div>
  </div>
  <div class="w-2/4 bg-stone-950 px-5 border border-purple-500 rounded-lg mx-5 text-purple-500">
    <img [src]="mapImageUrl" alt="Map Image" class="w-full h-full object-cover">
  </div>
  <div class="w-1/4 bg-stone-950 px-5 border border-purple-500 rounded-lg ml-5 text-purple-500">
    <div *ngFor="let user of activeBattleUsers" class="mb-2" [ngClass]="{'opacity-50': user.currentHealth !== undefined && user.currentHealth <= 0}">
      <ng-container *ngIf="user.maxHealth && user.currentHealth !== undefined">
        <p class="text-xl">{{ user.characterName }}</p>
        <div class="w-full bg-gray-200 rounded-full h-4">
          <div 
            class="h-4 rounded-full transition-all duration-500" 
            [style.width.%]="(user.currentHealth / user.maxHealth) * 100"
            [style.background]="getHealthBarColor(user.currentHealth / user.maxHealth)">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Initiative roll modal -->
<div *ngIf="showInitiativePrompt" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="modal-content bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 p-4 rounded-lg shadow-lg text-center">
    <p class="text-lg font-bold mb-4">Roll for initiative</p>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2">Initiative Modifier</label>
      <div class="flex items-center justify-center">
        <select [(ngModel)]="modifierSign" class="bg-white text-black px-2 py-1 rounded mr-2">
          <option value="+">+</option>
          <option value="-">-</option>
        </select>
        <input type="number" [(ngModel)]="modifierValue" class="bg-white text-black px-2 py-1 rounded" />
      </div>
    </div>
    <button class="bg-white text-black px-4 py-2 rounded mr-2" (click)="rollForInitiative()">Roll</button>
    <button class="bg-stone-950 text-white px-4 py-2 rounded" (click)="spectate()">Spectate</button>
  </div>
</div>
