.roll-button {
    position: relative;
    z-index: 1000;
  }
  
  .roll-modal {
    z-index: 999;
  }
  
  .roll-history {
    max-height: 66vh; /* Set maximum height for roll history */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Custom scrollbar styles */
  .roll-history::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .roll-history::-webkit-scrollbar-track {
    @apply bg-stone-950/* Background of the scrollbar track */
  }
  
  .roll-history::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-blue-700 via-blue-800 to-blue-900/* Color of the scrollbar thumb */
  }
  
  .roll-history::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  
  .message {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  