<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
    <div *ngFor="let character of Characters" class="flex flex-row items-start p-4 text-blue-800 h-full w-full bg-blue-900 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-0 border border-blue-800 mb-4">
        <div class="flex flex-col w-full">
            <div class="text-center">
                <div class="h-full mb-4 flex items-center justify-center">
                    <img [src]="character.photo" alt="{{ character.characterName }}" class="h-1/4 w-1/4 object-cover rounded-md">
                </div>
                <h2 class="text-3xl font-bold">{{ character.characterName }}</h2>
                <p class="text-sm">Race: {{ character.race }}</p>
            </div>
        </div>
    </div>    
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 h-20">

</div>