.chat-button {
    position: relative;
    z-index: 1000;
  }
  
.chat-modal {
  z-index: 999;
}

.chat-history {
  max-height: 66vh; /* Set maximum height for chat history */
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column-reverse;
}

/* Custom scrollbar styles */
.chat-history::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-history::-webkit-scrollbar-track {
  @apply bg-stone-950/* Background of the scrollbar track */
}

.chat-history::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-blue-700 via-blue-800 to-blue-900/* Color of the scrollbar thumb */
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.message {
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.toggleButton {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
}

.toggleButton input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #57534e; /* bg-stone-950 */
  border-radius: 20px;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #7c3aed; /* bg-blue-800 */
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}
