.text-brown-500 {
    color: #8B4513; /* Brown */
}
.text-brown-500:hover {
    color: #5C3317; /* Darker Brown */
}

.text-gray-400 {
    color: #C0C0C0; /* Silver */
}
.text-gray-400:hover {
    color: #A9A9A9; /* Darker Silver */
}

.text-yellow-500 {
    color: #FFD700; /* Gold */
}
.text-yellow-500:hover {
    color: #E6BE00; /* Darker Gold */
}

.text-blue-400 {
    color: #00BFFF; /* Diamond */
}
.text-blue-400:hover {
    color: #009ACD; /* Darker Diamond */
}

.text-purple-500 {
    color: #800080; /* Purple */
}
.text-purple-500:hover {
    color: #4B0082; /* Darker Purple */
}
